<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ The John Object Daemon is the agent software to connect "objects"
  ~ to an IoT EcoSystem, like the John Operating System Platform one.
  ~ Copyright (C) 2020 Roberto Pompermaier
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<Configuration status="WARN">

    <Appenders>

        <!-- STANDARD CONSOLE -->

        <!-- Standard console output -->
        <!-- This appender print INFO messages or higher level messages send by
        loggers -->
        <Console name="ConsoleStd" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout alwaysWriteExceptions="false"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | # %-11.11markerSimpleName # | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>

        <!-- Development console output -->
        <!-- This appender print all messages send by loggers -->
        <Console name="ConsoleStd_DEV" target="SYSTEM_OUT">
            <PatternLayout alwaysWriteExceptions="true"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | # %-11.11markerSimpleName # | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>


        <!-- JOSP CONSOLE -->

        <!-- Standard JOSP console output -->
        <!-- Default appender for JOSP loggers. It filters and prints only JOSP
        main components's logs (aka. SubSystems). It print only INFO or higher
        level messages.
        It's aim is to help log readers understand the JOSP program procedures
        and states. -->
        <Console name="ConsoleJOSP" target="SYSTEM_OUT">
            <Filters>
                <!--<MarkerFilter marker="MAIN_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <MarkerFilter marker="EXT_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="SUB_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="IMPL_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout alwaysWriteExceptions="false"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | %-15.15markerSimpleName | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>

        <!-- Development JOSP console output -->
        <!-- Appender for JOSP loggers for development purposes. It prints all JOSP
        components's logs and not only main components. Normally it's applied to
        the component logger of components under development. -->
        <Console name="ConsoleJOSP_DEV" target="SYSTEM_OUT">
            <Filters>
                <!--<MarkerFilter marker="MAIN_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <MarkerFilter marker="EXT_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--<MarkerFilter marker="SUB_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <MarkerFilter marker="IMPL_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout alwaysWriteExceptions="true"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | %-15.15markerSimpleName | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>

        <!-- Implementation JOSP console output -->
        <!-- Appender for JOSP loggers for extensions implementation purposes.
        It prints all log messages from extra JOSP classes. -->
        <Console name="ConsoleJOSP_IMPL" target="SYSTEM_OUT">
            <Filters>
                <!--<MarkerFilter marker="MAIN_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <MarkerFilter marker="EXT_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--<MarkerFilter marker="SUB_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <!--<MarkerFilter marker="IMPL_COMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout alwaysWriteExceptions="true"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | %-15.15markerSimpleName | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>

        <!-- Full JOSP console output -->
        <!-- Appender for JOSP loggers that print all messages send by loggers. -->
        <Console name="ConsoleJOSP_FULL" target="SYSTEM_OUT">
            <PatternLayout alwaysWriteExceptions="true"
                           pattern="%highlight{%d{DEFAULT} [ %-5level | %-15.15markerSimpleName | %-15.-15threadName | %-30.30logger{1.} ] %msg}%n"/>
        </Console>

    </Appenders>


    <Loggers>

        <Root additivity="false" level="ALL">
            <AppenderRef ref="ConsoleStd"/>
        </Root>

        <!-- Commons -->

        <Logger name="com.robypomper.communication" additivity="false">
            <AppenderRef ref="ConsoleJOSP"/>
        </Logger>

        <Logger name="com.robypomper.discovery" additivity="false">
            <AppenderRef ref="ConsoleJOSP"/>
        </Logger>

    </Loggers>

</Configuration>