@import "https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300;400;500&display=swap";

/* Basic component's style */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

b {
    font-weight: 400;
}

a {
    color: #5b9dc3;
}

table {
    border-collapse: collapse;
}


#div_main {
    margin-top: 0px;
}

header {
    padding-bottom: 0px;
}

article {
    padding-left: 30px;
}
article h1 {
    font-size: 3em;
    font-weight: 400;
}
article h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}
article h3 {
    font-size: 1.7em;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}
article hr {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* JOSP component's style */

.box {
    border: 1px solid #ccc!important;
    border-radius: 16px;
    padding: 10px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.box.collapsed,
.box_obj_comp.collapsed {
    height: 25px;
    overflow-y: hidden;
}
.box.collapsed > div > i:last-child,
.box> div > i:first-child,
.box_obj_comp.collapsed > div > i:last-child,
.box_obj_comp> div > i:first-child {
    display: none;
}
.box.collapsed > div > i:first-child,
.box> div > i:last-child,
.box_obj_comp.collapsed > div > i:first-child,
.box_obj_comp> div > i:last-child {
    display: block;
}

.box h2 {
    margin-bottom: 10px;
    color: #404040;
}

.table_details {
    width: 100%;
    table-layout: fixed;
}

.table_details tr td {
    padding: 1px 10px;
}

.table_details tr .label, .table_details tr .label * {
    text-align: right;
    font-weight: 400;
    white-space: nowrap;
}

.table_details tr .value {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_details tr .value, .table_details tr .value * {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Page component's style */

@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}
    @media only screen and (max-width: 700px) {
        nav {
            width: 100%;
            max-width: 700px;
        }
    }
        @media only screen and (max-width: 700px) {
            #div_menu {
                overflow-y: hidden;
            }
        }
    @media only screen and (max-width: 700px) {
        #div_main {
            overflow-y: visible;
        }
    }

header {
  text-align: center;
  background-color: #FFFFFF;
  font-size: 35px;
}

nav {
    min-width: 280px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4), 0 6px 15px 0 rgba(0, 0, 0, 0);
    z-index: 1;
}

article {
  background-color: #FFFFFF;
}

footer {
  background-color: #3a4d69;
  text-align: center;
  color: white;
}

#div_logo {
    background: linear-gradient(180deg, rgb(46 76 70) 0%, rgba(92,158,194,1) 58%, rgba(44,101,186,1) 90%);
    height: 110px;
}

#div_menu {
    padding: 0px;
    background: rgb(44,101,186);
}

#div_menu * {
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    text-decoration: none;
}

#div_menu > ul > li > a {
    white-space: nowrap;
}

#div_menu .box_opts {
  padding: 10px;
  font-size: 16px;
  border: none;
}

#div_menu .dropdown {
  position: relative;
  display: inline-block;
  font-size: initial;
  text-align: left;
}

#div_menu .box_opts .box_opts_active {
  background-color: transparent;
  color: #FFFFFF;
}

#div_menu .dropbtn {
  background-color: transparent;
  color: #FFFFFF;
}

#div_menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

#div_menu .dropdown-content a {
  display: block;
}

#div_menu .dropdown-content a,
#div_menu .dropdown-content a * {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

    #div_menu i {
        margin: 0 10px;
        color: #2c64ba;
    }

    #div_menu .dropbtn i {
        color: #FFFFFF;
    }

#div_menu .dropdown-content a:hover {background-color: #ddd;}

#div_menu .dropdown:hover .dropdown-content {display: block;}

#div_menu .dropdown:hover .dropbtn {background-color: rgba(92,158,194,1);}

#div_menu .fa {
    font: normal normal normal 14px/1 FontAwesome;
}

#div_menu li.title {
    padding: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    overflow: visible;
}

#div_menu li.title div.title {
    flex-grow: 1;
    padding: 15px;
}

#div_title > h1 > * {
    max-width: 350px;
}

#div_title > h1 > input {
    font-size: 1em;
}

#div_title i.fa {
    padding: 10px;
}

#div_opts > * {
    color: #00000040;
}

#div_opts .box_opts {
  padding: 10px;
  font-size: 16px;
  border: none;
}

#div_opts .dropdown {
  position: relative;
  display: inline-block;
  font-size: initial;
  text-align: left;
}

#div_opts .box_opts .box_opts_active {
  background-color: rgb(44,101,186);
  color: white;
}

#div_opts .dropbtn {
  background-color: rgb(44,101,186);
  color: white;
}

#div_opts .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

#div_opts .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#div_opts i {
    margin: 0 10px;
    color: #2c64ba;
}

#div_opts .dropbtn i {
    color: #FFFFFF;
}

#div_opts .dropdown-content a:hover {background-color: #ddd;}

#div_opts .dropdown:hover .dropdown-content {display: block;}

#div_opts .dropdown:hover .dropbtn {background-color: rgba(92,158,194,1);}
